.sidebar{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 7.3vw;
}

.whatsapp ,.facebook ,.twitter {
    border-radius: 11px solid black;
    border-radius: 8px;
    padding: .5vw;
    margin: .6vw;
    border: 3px solid #000000
}

